<head>
  <link rel="stylesheet" href="../../assets/font/font-mfizz-2.4.1/font-mfizz.css">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>
<div class="container">

</div>

<!--   Footer   -->
<footer class="myfooter" style="font-family: 'Muli', sans-serif;">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="title-widget">Tóm tắt</h4>
        <p>Cám ơn bạn đã duyệt qua trang web của chúng tôi.</p>

        <ul class="social social-circle">
          <li> <a href="#" class="icoFacebook"><i class="fa fa-facebook"></i></a></li>
          <li> <a href="#" class="icoTwitter"> <i class="fa fa-twitter"></i> </a> </li>
          <li> <a href="#" class="icoGoogle"> <i class="fa fa-google-plus"></i> </a> </li>
          <li> <a href="#" class="icoRss"> <i class="fa fa-youtube"></i> </a> </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4 class="title-widget">An Nguyen</h4>
        <span class="acount-icon">

						<a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trang cá nhân</a>
						<a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Việt Nam</a>
					</span>
      </div>
      <div class="col-sm-3">
        <h4 class="title-widget">Từ khóa</h4>
        <div class="category">
          <a href="#" class="zoom">Computer</a>
          <a href="#" class="zoom">error</a>
          <a href="#" class="zoom">driver</a>
          <a href="#" class="zoom">Cài windows</a>
          <a href="#" class="zoom">Network</a>
          <a href="#" class="zoom">Ram</a>
          <a href="#" class="zoom">Ghost</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h4 class="title-widget">Công nghệ sử dụng</h4>
        <ul class="payment">
          <!--<li> <em class="icon-illustrator"></em> Illustrator</li>
          <li><i class="icon-apache"></i> icon-apache</li>-->
        <!--  <li><a href="#"><i class="fa fa-paypal zoom" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-visa zoom" aria-hidden="true"></i></a></li>-->
        </ul>
      </div>
    </div>
    <hr>

    <div class="row text-center">Copyright © Angular CLI. All right reserved, © 2017. fixloiwindow.com</div>
  </div>



</footer><!--
<div class="myfooter-bottom">
  <div class="container">
    <p class="pull-left"> Copyright © Angular CLI. All right reserved. </p>
    <div class="pull-right">
      <ul class="nav nav-pills payments">
        <li><i class="fa fa-cc-visa"></i></li>
        <li><i class="fa fa-cc-mastercard"></i></li>
        <li><i class="fa fa-cc-amex"></i></li>
        <li><i class="fa fa-cc-paypal"></i></li>
      </ul>
    </div>
  </div>
</div>-->
