<!--
<section class="new-deal">
  <div class="container">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
      <div class="item-slide">
        <div class="box-img">
          <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas"/>
          <div class="text-wrap">
            <h4>Ngày đăng <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi Tiết</a>
            </div>
          </div>
        </div>
        <div class="slide-hover">
          <div class="text-wrap">
            <p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
            <h4>Ngày đăng  <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
      <div class="item-slide">
        <div class="box-img">
          <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas"/>
          <div class="text-wrap">
            <h4>Ngày đăng  <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="slide-hover">
          <div class="text-wrap">
            <p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
            <h4>Ngày đăng <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
      <div class="item-slide">
        <div class="box-img">
          <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas"/>
          <div class="text-wrap">
            <h4>Ngày đăng  <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="slide-hover">
          <div class="text-wrap">
            <p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
            <h4>Ngay đăng <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
      <div class="item-slide">
        <div class="box-img">
          <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas"/>
          <div class="text-wrap">
            <h4>Ngày đăng <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="slide-hover">
          <div class="text-wrap">
            <p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
            <h4>Ngày đăng  <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
      <div class="item-slide">
        <div class="box-img">
          <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas"/>
          <div class="text-wrap">
            <h4>Ngày đăng <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="slide-hover">
          <div class="text-wrap">
            <p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
            <h4>Ngày đăng  <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
      <div class="item-slide">
        <div class="box-img">
          <img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas"/>
          <div class="text-wrap">
            <h4>Ngày đăng  <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="slide-hover">
          <div class="text-wrap">
            <p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
            <h4>Ngày đăng  <span class="deal-data"><span class="glyphicon glyphicon-calendar"></span> Sun, Jan 29 - Tue, Jan 31</span></h4>
            <div class="desc">
              <span>Người đăng</span>
              <h3>An</h3>
            </div>
            <div class="book-now-c">
              <a href="#">Xem Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>-->
<!--<div class="container-fluid text-center bg-grey margintop mau">-->
  <!--<h2>Các bài viết</h2>-->
  <!--<h4 style="padding-bottom: 50px">Những bài viết về mạng</h4>-->
  <!--<div class="row text-center">-->
    <!--<div *ngFor="let article of dataArticle | paginate:{ itemsPerPage:6, currentPage:p}">-->
      <!--<div class="col-sm-4">-->
        <!--<div class="thumbnail">-->
          <!--<img src="../../assets/object/temp1.jpg" alt="cover" class="image" style="width:100%">-->
          <!--<div class="middle">-->
            <!--<a routerLink="/detail/{{article.TieuDe}}">-->
              <!--<div class="text">Xem Chi Tiết</div>-->
            <!--</a>-->
          <!--</div>-->
          <!--<p><strong>{{article.TieuDe}}</strong></p>-->
          <!--<p>{{article.MoTa}}</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

   <!--</div>-->

  <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

  <!--</div>-->
<p>Article Component in here</p>