<head><link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"></head>
<div class="container" style="font-family: 'Muli', sans-serif;">
  <div class="row">
    <!--<div class="col-sm-8 col-md-6 col-lg-6 mt-4" style="cursor: pointer;" onclick="window.location='/listnetwork';">
      <div class="card">
        <img class="card-img-top" src="../../assets/object/mang.jpg">
        <div class="card-block">
          <h5 class="text-bold">Các vấn đề về mạng</h5>
        </div>
      </div>
    </div>-->

    <div class="col-sm-8 col-md-6 col-lg-6 mt-4">
      <figure class="snip1174 navy col-md-4">
        <img src="../../assets/object/mang.jpg" alt="sq-sample33" />
        <figcaption>
          <h2>Các vấn đề về mạng</h2>
          <p>
          Gồm các bài viết về mạng máy tính
          </p>
          <a href="/listnetwork">Xem tất cả bài viết</a>
        </figcaption>
      </figure>
    </div>


    <div class="col-sm-8 col-md-6 col-lg-6 mt-4">
      <figure class="snip1174 red col-md-4">
        <img src="../../assets/object/software.jpg" alt="sq-sample33" />
        <figcaption>
          <h2>Các vấn đề về phần mềm</h2>
          <p>
            Gồm các bài viết về phần mềm
          </p>
          <a href="/listsoftware">Xem tất cả bài viết</a>
        </figcaption>
      </figure>
    </div>

    <!--<div class="col-sm-8 col-md-6 col-lg-6 mt-4" style="cursor: pointer;" onclick="window.location='/listsoftware';">
      <div class="card">
        <img class="card-img-top" src="../../assets/object/software.jpg">
        <div class="card-block">
          <h5 class="text-bold">Các vấn đề về phần mềm</h5>
        </div>
      </div>
    </div>
  </div>
-->

   <!-- <div class="col-sm-8 col-md-6 col-lg-6 mt-4" style="cursor: pointer;" onclick="window.location='/listhardware';">
      <div class="card">
        <img class="card-img-top" src="../../assets/object/hardware.jpg">
        <div class="card-block">
          <h5 class="text-bold">Các vấn đề về phần cứng</h5>
        </div>
      </div>
    </div>-->

   <div class="col-sm-8 col-md-6 col-lg-6 mt-4">
     <figure class="snip1174 navy col-md-4">
       <img src="../../assets/object/hardware.jpg" alt="sq-sample33" />
       <figcaption>
         <h2>Các bài viết về phần cứng máy tính</h2>
         <p>
           Gồm tất cả các bài viết về phần cứng
         </p>
         <a href="/listhardware">Xem tất cả bài viết</a>
       </figcaption>
     </figure>
   </div>



    <!--<div class="col-sm-8 col-md-6 col-lg-6 mt-4" style="cursor: pointer;" onclick="window.location='/listtip';">
      <div class="card">
        <img class="card-img-top" src="../../assets/object/tips.jpg">
        <div class="card-block">
          <h5 class="text-bold">Những mẹo hay về máy tính</h5>
        </div>
      </div>
    </div>-->
   <div class="col-sm-8 col-md-6 col-lg-6 mt-4">
     <figure class="snip1174 red col-md-4">
       <img src="../../assets/object/tips.jpg" alt="sq-sample33" />
       <figcaption>
         <h2>Các mẹo về máy tính</h2>
         <p>
           Gồm các bài viết chia sẽ các mẹo dùng máy tính
         </p>
         <a href="/listtip">Xem tất cả bài viết</a>
       </figcaption>
     </figure>
   </div>


  </div>

</div>